body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}
.config {
  position: relative;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.config h2 {
  font-size: 15pt;
  font-weight: lighter;
  font-family: sans-serif;
}
.config .input {
}
